@model Damacana.Models.Product

<div class="alert alert-success" role="alert">
    Product Added: <b>@Model.Name</b>

</div>


New product has been successfully created - 
<a href="@Url.Action("Index")">
    Go to Weapons
</a>
